---
import "../../scripts/polyfills";
import {ViewTransitions} from "astro:transitions";
import {AppClient} from "../components/react/app-client";
import {ServerContainer} from "@react-navigation/native";
import AppRoot from "../components/react/app-root";
import {AppRoutes} from "../utils/enums";
import Tabbar from "../components/astro/tabbar.astro";

const {locals, params, url, Redirect} = Astro;

const {isIos} = locals;
const {slug} = params;

const pageSlugs = Object.values(AppRoutes);
const pageExists = pageSlugs.some((pageSlug) => pageSlug === slug);

if (!pageExists) {
    // return Redirect("/404");
}

const currentPath = url.pathname;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <title>Castro</title>
    <style is:global>
        /* https://necolas.github.io/react-native-web/docs/setup/ */
        /* These styles make the body full-height */
        html, body {
            height: 100%;
        }

        /* These styles disable body scrolling if you are using <ScrollView> */
        body {
            overflow: hidden;
        }
    </style>
    <ViewTransitions/>
</head>
<body
        class="min-h-screen flex flex-col w-full z-0 bg-cover"
        style="background-image: url('/background.png')"
>
<span class={'fixed inset-0 bg-slate-900 opacity-50'}/>
<aside></aside>
<main>
    <AppRoot>
        <AppClient
                client:load
                theme={isIos}
                dark
                safeAreas
                className={'max-w-lg min-h-screen w-screen bg-transparent flex flex-col flex-1 mx-auto'}
        />
    </AppRoot>
    <Tabbar currentPath={currentPath}/>
</main>
</body>
</html>
